@charset 'UTF-8';

/*
VARIABLES
================================================ */
:root {
    --light-green: #d5edeb;
    --green: #63dbd0;
    --brown: #403632;
    --light-grey: #eee;
    
    --oswald-font: 'Oswald', sans-serif;
}

/*
GENERAL STYLING
================================================ */
body {
    color: var(--brown);
    background: url('../images/music1back.png') repeat;
    text-align: center;
    
    width: 100%;
}

/*
COMMON
================================================ */
p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
.title {
    font-family: var(--oswald-font);
    font-size: min(10vw, 4rem);
    margin-bottom: 2rem;
}
.btn {
    color: var(--white);
    background: var(--brown);
    border: 1px solid var(--brown);
    text-decoration: none;
    padding: 1rem;
    display: inline-block;
    margin: 2rem 0;
    transition: .4s;
}
.fadein{
    opacity: 0;
}

/*
LAYOUT
================================================ */
.wrapper {
    max-width: 38rem;
    margin: auto;
    padding: 0 1rem;
}

/*
LOADING
================================================ */
#loading {
    background-color: var(--light-grey);
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
}
#loading-screen {
    background-color: var(--light-green);
    position: fixed;
    inset: 0;
    z-index: 9998;
    translate: 0 100vh;
}
#loading p {
    font-size: 20rem;
    font-family: var(--oswald-font);
}

/*
SLIDE MENU
================================================ */
/* 開閉ボタン */
.btn-menu {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 4;
    padding: .5rem 1rem;
    border: 1px solid var(--brown);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    transition: .4s;
}
.btn-menu svg {
    fill: var(--brown);
    margin-top: .25rem;
    height: 2rem;
    width: 2rem;
}

/* 閉じるボタン */
#menu-close {
    border: 1px solid var(--light-green);
}
#menu-close svg {
    fill: var(--light-green);
}

/* スライドメニューパネル */
#menu-panel {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 8rem 2rem 2rem;
    width: max(32vw, 20rem);
    height: 100vh;
    background-color: var(--brown);
    box-shadow: 0 0 2rem var(--brown);
    font-family: var(--oswald-font);
    translate: 100vw;
}
.menu-list {
    list-style: none;
}
.menu-list li {
    margin: 1.5rem 0;
    opacity: 0;
}
.menu-list a {
    color: var(--light-green);
    text-decoration: none;
    font-size: 2rem;
}

/*
HERO
================================================ */
.hero {
    height: 50vh;
    position: relative;
}
.hero::after {
    content: '';
    width: 50%;
    height: 50vh;
    background: url('../images/wavephoto.png') no-repeat center / cover;
    position: absolute;
    inset: 0;
}
.hero .title {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 2;
    width: 100%;
    font-size: max(12vw, 3rem);
    line-height: 1.2;
    color: #28b5ac;
    text-shadow:
    1px 1px #aaa,
    2px 2px #999,
    3px 3px #888,
    4px 4px #777,
    5px 5px #666,
    6px 6px #555,
    7px 7px 4px #000;
}


/*
CONCEPT
================================================ */
h2{
    color: #cf2d2d;
    font-size: 40px;
    padding: 40px 0px 10px;
}
.concept a{
    color: #c02525;
    font-size: 20px;
    
}
.concept-fadein{
    padding-top: 20px;
    font-weight: bold;
}
/*
GALLERY
================================================ */
.gallery {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}





/*
SHOP INFO
================================================ */
.shop {
    background: url('../images/IMG_0338.jpeg') no-repeat center top / cover;
    margin-top: 16rem;
    position: relative;
    height: 50rem;
}
.shop-content {
    background: var(--white);
    padding: 6rem;
    position: absolute;
    top: -8rem;
    width: 90vw;
    left: 0;
    right: 0;
}
.shop h3 {
    margin: 1rem 0;
    padding-top: 2rem;
    font-weight: normal;
    border-top: 1px solid var(--light-grey);
}

/*
DESKTOP SIZE
================================================ */
@media(min-width: 800px){
/* COMMON */
    .title {
        margin-bottom: 3rem;
    }
    .btn:hover {
        color: var(--brown);
        background: var(--light-green);
    }

/* SLIDE MENU */
    .btn-menu:hover {
        background-color: var(--light-green);
    }
    #menu-close:hover svg {
        fill: var(--brown);
    }
    .menu-list a:hover {
        transition: .4s;
        color: var(--green);
    }

/* CONCEPT*/
    

/* GALLERY */
    .gallery {
        flex-direction: row-reverse;
    }
    .gallery-image {
        width: 100vw;
        margin: 100;
    }
    .gallery-image img {
        height: 100vh;
        
    }
    .gallery-content {
        width: 30vw;
    }
    
/* SHOP */
    .shop {
        margin-top: 20rem;
        height: 50rem;
        color: #696a51;
        
    }
    
}